@use "sass:map";
@use "vars" as *;

$modular-scale: (
  -2: 11.109px,
  -1: 13.331px,
  0: 16px,
  1: 19.2px,
  2: 23.04px,
  3: 27.648px,
  4: 33.178px,
  5: 39.813px
);

@function getFontSize($step) {
  @return map.get($modular-scale, $step);
}
@function getColor($name) {
  @return map.get($colors, $name);
}
